# Server
PORT=3000

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLIENT_URL=http://localhost:3000

# Browser
PUBLIC_SERVER_URL=${BETTER_AUTH_URL}
PUBLIC_CLIENT_URL=${CLIENT_URL}
PUBLIC_APP_NAME=Tanstack Rspack
