# Server
SERVER_PORT=8080
SERVER_URL=http://localhost:${SERVER_PORT}
SERVER_KEY=your-server-key

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Client
CLIENT_PORT=3000
CLIENT_URL=http://localhost:${CLIENT_PORT}
CLIENT_KEY=your-client-key

# Browser
PUBLIC_SERVER_URL=${SERVER_URL}
PUBLIC_CLIENT_URL=${CLIENT_URL}
PUBLIC_APP_NAME=Tanstack Rspack