# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
client
.output/
dist-server/

# Server compiled files
server/**/*.js
server/**/*.d.ts

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

.env
.env.local
.env.development
.env.staging
.env.production
